:root {
    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;

    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;

    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;
}